*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
    padding-left: 50px;
}
.box {
  position: absolute;left: 30px;top:13cm;
  height: 308px;
  width:308px;
  box-shadow: 2px 0px 15px #f68157;
  border-radius: 50%;
  background:url(https://cdn.discordapp.com/attachments/963463887028617236/990276376236015636/Untitled-1.png);
}