*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
    padding: 0;
    margin: 0;
    background:url(https://images4.alphacoders.com/101/1016505.png) no-repeat;
    background-size:cover;

}

.Umaru {
  display:inline
}
.bigbox{
  width: 450px;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  position:relative;
  top:100px;
  text-align: center;
  margin: auto;
  
  color: white;
  font-family: 'Century Gothic',sans-serif;}

.box img {
  margin:auto;
  ;
  width: 210px;
  height: 210px;
  box-shadow: 2px 0px 15px #f68157;
  border-radius: 48%;
;}
.bigbox a{
  color: white;
  font-size: 50px;
}
.bigbox a:hover {
 color: rgb(206, 199, 199) ;
}
.music {
  margin-top: -500px;
  max-width: 300px;
  margin-left: auto;
  background:#Ffff;
  box-shadow: 0px 5px 25px black ;
  padding-top: 10px;
  padding: 15px 15px 30px;
  border-radius: 10%;

}

.music-thumb {
  width: 100px;
  height:100px;
  margin:0 auto 50px  ;
}


.music-thumb img{
  width: 100%;
  height:100%;
  border-radius: 10%;
  object-fit: cover;
  
}

.name {
  text-align: center;
  font-size: 20px;
  font-weight:500;
  align-items: center;
  justify-content: space-between;
}

.control {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content:center;
  background: rgb(255, 255, 255);
  gap: 20px;
}
.player-inner {
  width:30px;
  height:30px;
  cursor: pointer;
  background-color:white;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #f68157;
}
.play {
  width:30px;
  height:30px;
  cursor: pointer;
  background-color:white;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #f68157;

}
.backward {
  width:30px;
  height:30px;
  cursor: pointer;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forward {
  width:30px;
  height:30px;
  cursor: pointer;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.range {
  width:100%;
  background:transparent;
  -webkit-appearance: none;

}
.range::-webkit-slider-runnable-track {
  width: 100%;
  height:4px;
  background-color: #f68157
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width:15px;
  height:15px;
  border-radius: 50%;
  background-color:#f68157; 
  box-shadow:0px 0px 0px 5px white,0 0 0 7px grey;
  margin-top: -10px;
  margin-left: -0px;

}